# python==3.8
django
djangorestframework
django-cors-headers
gunicorn
numpy
pandas
scikit-learn==0.24.2
spacy
nltk
openpyxl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
psycopg2-binary # may need: sudo apt-get install libpq-dev python-dev (for ubuntu, as explained in https://stackoverflow.com/questions/11618898/pg-config-executable-not-found)
django-heroku # not necessary
django-nose
sqlalchemy
pycallgraph2
wikipedia-api
spacy-langdetect
